<%= form_with model: article do |form| %>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %><br>
        
        title<br>
        <%= form.text_field :title %> 
        <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
        <% end %><br>
        
        body<br>
        <%= form.text_area :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
        <% end %><br>

        <button class=' max-w-xl text-white bg-cyan-700 hover:bg-cyan-900 shadow-lg shadow-cyan-500/50 focus:ring-4 focus:ring-cyan-500 font-medium rounded-lg px-5 py-2.5 mr-2 mb-2 focus:outline-none' data-action="click->counter#increment">
            <%= form.submit %>
        </button>


    <% end %>





