<!DOCTYPE html>
<html>
  <head>
    <title>BlogC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='bg-zinc-300'>
    <%= render "layouts/sidebar" %>
    <main class="py-10 lg:pl-72">
      <div class="px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </main>
  </body>

  <footer>
  <%= render "layouts/footer" %>
  <%= yield %>
  </footer>
</html>
